@import url("https://fonts.googleapis.com/css?family=Poppins:20");

header{
  position: relative;
  max-width: 1800px;
  margin: 20px auto;
  padding:10px;
  background: rgba(12, 110, 223, 0.726);
  box-sizing: border-box;
  border-radius:4px;
  box-shadow:0 2px 5px rgba(0,0,0,.2);
  
}
.header-logo{
  color: white;
  height: 60px;
  font-size:36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing:border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
.header-logo:hover{
  color: lightgreen;
  transform: scale(1.145);
  transition: 0.3s;
}
nav{
  float: right;
}
.clearfix{
  clear: both;
}
nav ul{
  margin:0;
  padding:0;
  display:flex;
}
nav ul li
{
  list-style:none;
}

nav ul li a{
  display:block;
  margin:10px 0;
  padding:10px 20px;
  text-decoration: none;
  color:white;
}
.login-button{
  background-color: lightgreen;
  margin-left: 30px;
  border-radius: 5px;
  color: white;
}
.logout-button{
  background-color: red;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
}

.login-button:hover{
  transform: scale(1.125);
  background-color: lightgreen;
  color: rgba(12, 110, 223, 0.726);
}
.logout-button:hover{
  transform: scale(1.125);
  background-color: lightgreen;
  color: rgba(12, 110, 223, 0.726);
  transition: 0.3s;
}
nav ul li a.active, nav ul li a:hover{
  background:lightgreen;
  color:#fff;
  transition:0.3s;
  
}
@media(max-width: 1200px){
  header{
    margin:20px;
  }
}
@media(max-width: 768px){
  .menu-toggle{
    display: block;
    width:40px;
    height:40px;
    margin:10px;
    background:#ccc;
    float:right;
    cursor:pointer;
    text-align:center;
    font-size:30px;
    color: #069370;
    
  }
  .menu-toggle:before{
    content: '\f0c9';
    font-family:fontAwesome;
    line-height:40px;
   
  }
 .menu-toggle.active:before {
    content: '\f00d';
    
  }
  nav{
    display:none;
  }
  nav.active{
    display:block;
    width:100%;
  }
   nav.active ul{
    display:block;
    
  }
  nav.active ul li a{
    margin:0;
  }
}