*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(The-NSBM-Green-University-T-1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 0;
}
nav
{
    flex: 5;
    margin-left:auto;

    
}
nav ul 
{
    display: inline-block;
    list-style: none;
    text-align: right;
}
nav ul li
{
    display: inline-block;
    margin-right: 30px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li a:hover
{
    color: rgb(109, 122, 122);
}

.logo img {
    width: 90px; /* Adjust size as needed */
    margin-left:10px;
    max-height: none;
    margin-top:auto;
    
}
.text h1{
    text-align: center;
    font-size: 70px;
    align-items: top;
    color:white;
    margin-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text h4{
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.green {
        color: rgb(16, 191, 16);
}
.white {
    color: white;
    margin-bottom: 20px;
}
.login-container{
    position:relative;
    margin-top: 2%;
    width:60%;
    max-width: 400px;
    height: 80%;
    text-align: center;
    padding: 50px;/*30*/
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.login-container p {
    text-align:left;
    margin-bottom: 10px;
    font-size:13px ;

}
.login-form {
    margin: 0 auto; /* Center the form horizontally within the container */
    max-width: 280px; /* Adjust the maximum width of the form */
    text-align: center;
    margin-bottom: 10px;
}
.login-container input{
    width: 100%;
    padding: 1px;
    box-sizing:border-box;
    margin-bottom: 10px;
}
.login-container button{
    padding: 10px;
    width: 100%;
    border:none;
    border-radius: 5px;
    background-color:rgb(13, 173, 72) ;
    color: black;
    cursor: pointer;
    transition: background-color 0.3;
    margin-bottom: 10px;
}
.login-container button:hover{
    color: darkgray;
}
footer {
    position: relative; /* Set footer to absolute positioning */
    bottom: 0; /* Align footer to bottom of the page */
    width: 100%; /* Set footer width to full viewport width */
    background-color: #0ea648; /* Background color */
    color: #fff; /* Text color */
    padding: 0px; /* Padding for spacing */
    text-align: center;
    height: 100%;
}
    
.footer-container {
    display:flex;
    max-width: 1200px; /* Set maximum width */
    margin: 0 auto; /* Center align content */
    justify-content: center;
    align-items: center;
    }
    
.footer-content {
    padding: 20px; /* Padding for spacing */
    flex-grow:1;
    }
    
h2 {
    font-size: 24px; /* Font size for title */
    margin-bottom: 10px; /* Margin bottom for spacing */
    display: flex; 
    justify-content: left;
}
h3 {
    font-size: 10px; /* Font size for title */
    margin-bottom: 10px; /* Margin bottom for spacing */
    display: flex; 
    justify-content: center;
}  
.footer-container > div {
    width: 100px;
    margin: 0px;
    text-align: right;
    line-height: 30px;
    font-size: 30px;
  }
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end;
    }
    
    nav ul li {
    display: inline;
    margin-right: 20px; /* Margin between list items */
    }
    
    nav ul li:last-child {
    margin-right: 0; /* Remove margin for the last list item */
    }
    
    nav ul li a {
    color: #f5efef; /* Link color */
    text-decoration: none; /* Remove underline */
    }
    
    nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
    color: black;
    }
    